.ui-jqgrid {font-size:20px}
.ui-jqgrid tr.jqgrow td {font-size:20px;width:auto}
td, th {
    font: 20px verdana, arial, helvetica, sans-serif;
    line-height: 21px;
    /*    padding: .2em .2em .2em .3em;*/

    vertical-align: top;
}